<% content_for :title, "Editing tea origin" %>

<h1>Editing tea origin</h1>

<%= render "form", tea_origin: @tea_origin %>

<br>

<div>
  <%= link_to "Show this tea origin", @tea_origin %> |
  <%= link_to "Back to tea origins", tea_origins_path %>
</div>
